<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="My lovely web page"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="java, web"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Nejlepší hráčky</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i&amp;subset=latin-ext"
          rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="${'css/bootstrap.min.css'}"/>

</head>

<body>
<!--/*@thymesVar id="balicekPexesa" type="java.util.List<cz.czechitas.webapp.kartaPexesa>"*/-->
<!--/*@thymesVar id="linkNaObrazek" type="java.lang.String"*/-->
<!--/*@thymesVar id="poradi" type="java.lang.Integer"*/-->

<div th:insert="fragments/menu :: menu"></div>

<div class="container">
    <div class="jumbotron">
        <br>
        <h1 class="display-3">Nejlepší hráčky pexesové ligy</h1><br>
        <h3>Stav žebříčku ke dni <span th:text="${#temporals.format(datum, 'd. M. yyyy')}">4. 3. 2020</span></h3>
        <br>
        <table class="center">
            <table class="table table-hover">
                <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Jméno</th>
                    <th scope="col">Příjmení</th>
                    <th scope="col">Email</th>
                    <th scope="col">Vyhrané turnaje</th>
                    <th scope="col">Odehrané turnaje</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="jednaHracka : ${zebricekHracek}" class="table-secondary">
                    <td><p th:text="${jednaHracka.poradi}">0</p></td>
                    <td><p th:text="${jednaHracka.jmeno}">Jenda</p></td>
                    <td><p th:text="${jednaHracka.prijmeni}">Perla</p></td>
                    <td><p th:text="${jednaHracka.email}">vikuna@seznam.cz</p></td>
                    <td><p th:text="${jednaHracka.pocetVyhranychTurnaju}">100</p></td>
                    <td><p th:text="${jednaHracka.pocetTurnajuCelkem}">500</p></td>
                </tr>
                <tr th:remove="all" class="table-secondary">
                    <td><p th:remove="all">0</p></td>
                    <td><p th:remove="all">Jenda</p></td>
                    <td><p th:remove="all">Perla</p></td>
                    <td><p th:remove="all">vikuna@seznam.cz</p></td>
                    <td><p th:remove="all">100</p></td>
                    <td><p th:remove="all">500</p></td>
                </tr>
                <tr th:remove="all" class="table-secondary">
                    <td><p th:remove="all">0</p></td>
                    <td><p th:remove="all">Jenda</p></td>
                    <td><p th:remove="all">Perla</p></td>
                    <td><p th:remove="all">vikuna@seznam.cz</p></td>
                    <td><p th:remove="all">100</p></td>
                    <td><p th:remove="all">500</p></td>
                </tr>
                <tr th:remove="all" class="table-secondary">
                    <td><p th:remove="all">0</p></td>
                    <td><p th:remove="all">Jenda</p></td>
                    <td><p th:remove="all">Perla</p></td>
                    <td><p th:remove="all">vikuna@seznam.cz</p></td>
                    <td><p th:remove="all">100</p></td>
                    <td><p th:remove="all">500</p></td>
                </tr>
                <tr th:remove="all" class="table-secondary">
                    <td><p th:remove="all">0</p></td>
                    <td><p th:remove="all">Jenda</p></td>
                    <td><p th:remove="all">Perla</p></td>
                    <td><p th:remove="all">vikuna@seznam.cz</p></td>
                    <td><p th:remove="all">100</p></td>
                    <td><p th:remove="all">500</p></td>
                </tr>

                </tbody>
            </table>
            <br>
            <a href="index.html" th:href="@{/index}" class="btn btn-warning">Pexeso</a>

            <footer class="paticka">
                <br>
                <div th:insert="fragments/footer :: footer"></div>
            </footer>

</body>
</html>
